/.github export-ignore
/.gitignore export-ignore
/.php-cs-fixer.dist.php export-ignore
/phpstan.neon export-ignore
/phpunit.xml.dist export-ignore
/test export-ignore
/tools export-ignore
/rector.php export-ignore